# <center> MATH 104B - Homework 4 
#### <center>By Emily Lu (Perm ID: 4707147)

5.6: 2bcd, 4bcd, 6, 12, 13, 17, 19 pg. 320

2\. Use all the Adams-Bashforth methods to approximate the solutions to the following initial-value
problems. In each case use exact starting values and compare the results to the actual values.

$\;\;\;\;$ b. $y' = \sin t + e^{-t},\; 0\leq t \leq 0.5, \; y(0) = 0$ with $h=0.1;$ actual solution $y(t) = 2-\cos t -e^{-t}$

In [124]:
from math import*
import pandas as pd 

def t_i():
    t = a
    lst = [a]
    for i in range(N):
        t = t + h 
        lst.append(t)
    return lst 

def adamsBash_2(w): 
    for i in range(1, N):
        w_i = w[i] + h/2*(3*f(t[i], w[i]) - f(t[i-1], w[i-1]))
        w.append(w_i)
    return w

def adamsBash_3(w):
    for i in range(2, N):
        w_i = w[i] + h/12*(23*f(t[i], w[i]) 
                - 16*f(t[i-1], w[i-1]) + 5*f(t[i-2], w[i-2]))
        w.append(w_i)
    return w

def adamsBash_4(w):
    for i in range(3, N):
        w_i = w[i] + h/24*(55*f(t[i], w[i]) 
                - 59*f(t[i-1], w[i-1]) + 37*f(t[i-2], w[i-2])
                - 9*f(t[i-3], w[i-3]))
        w.append(w_i)
    return w 

def adamsBash_5(w):
    for i in range(4, N):
        w_i = w[i] + h/720*(1901*f(t[i],w[i]) 
                - 2774*f(t[i-1], w[i-1]) + 2616*f(t[i-2], w[i-2]) 
                - 1274*f(t[i-3], w[i-3]) + 251*f(t[i-4], w[i-4]))
        w.append(w_i)
    return w

def actual(N):
    t = a 
    solutions = []
    for i in range(N+1):
        solutions.append(y(t))
        t = t + h      
    return solutions 

def f(t, y):
    return sin(t) + e**(-t)

def y(t):
    return 2 - cos(t) - e**(-t)

a=0; h=0.1; N=5; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(actual(1)), 
        'Adams Bashforth 3-Step':adamsBash_3(actual(2)),
        'Adams Bashforth 4-Step':adamsBash_4(actual(3)), 
        'Adams Bashforth 5-Step':adamsBash_5(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
0.0,0.000000,0.000000,0.000000,0.000000,0.000000
0.1,0.100158,0.100158,0.100158,0.100158,0.100158
0.2,0.200859,0.201203,0.201203,0.201203,0.201203
0.3,0.303236,0.303915,0.303845,0.303845,0.303845
0.4,0.407816,0.408754,0.408615,0.408619,0.408619
0.5,0.514960,0.516084,0.515880,0.515887,0.515887

$\;\;\;\;$ c. $y'=\frac{y+1}{t},\; 1\leq t\leq 1.5,\; y(1)=1,$ with $h=0.1$; actual solution $y(t)=2t-1$

In [4]:
def f(t, y):
    return (y+1)/t

def y(t):
    return 2*t - 1

a=1; alpha=1; h=0.1; N=5; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(actual(1)), 
        'Adams Bashforth 3-Step':adamsBash_3(actual(2)),
        'Adams Bashforth 4-Step':adamsBash_4(actual(3)), 
        'Adams Bashforth 5-Step':adamsBash_5(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
1.0,1.0,1.0,1.0,1.0,1.0
1.1,1.2,1.2,1.2,1.2,1.2
1.2,1.4,1.4,1.4,1.4,1.4
1.3,1.6,1.6,1.6,1.6,1.6
1.4,1.8,1.8,1.8,1.8,1.8
1.5,2.0,2.0,2.0,2.0,2.0

$\;\;\;\;$ d. $y'=t^2,\; 0\leq t\leq 0.5,\; y(0)=0$ with $h=0.1$; actual solution $y(t)=\frac{1}{3}t^3$

In [5]:
def f(t, y):
    return t**2

def y(t):
    return 1/3*t**3

a=0; alpha=0; h=0.1; N=5; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(actual(1)), 
        'Adams Bashforth 3-Step':adamsBash_3(actual(2)),
        'Adams Bashforth 4-Step':adamsBash_4(actual(3)), 
        'Adams Bashforth 5-Step':adamsBash_5(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
0.0,0.000000,0.000000,0.000000,0.000000,0.000000
0.1,0.000333,0.000333,0.000333,0.000333,0.000333
0.2,0.001833,0.002667,0.002667,0.002667,0.002667
0.3,0.007333,0.009000,0.009000,0.009000,0.009000
0.4,0.018833,0.021333,0.021333,0.021333,0.021333
0.5,0.038333,0.041667,0.041667,0.041667,0.041667

4\. Use each of the Adams-Bashforth methods to approximate the solutions to the following initial-value
problems. In each case, use starting values obtained from the Runge-Kutta method of order four.
Compare the results to the actual values.

In [6]:
def rk4(N):
    w = alpha 
    t = a 
    sol = [w] 
    for i in range(N-1):
        k1 = h*f(t, w)
        k2 = h*f(t + h/2, w + k1/2)
        k3 = h*f(t + h/2, w + k2/2)
        k4 = h*f(t + h, w + k3)
        w = w + 1/6*(k1 + 2*k2 + 2*k3 + k4)
        t += h 
        sol.append(w)
    return sol

$\;\;\;\;$ b. $y'=\frac{y^2}{1+t},\; 1\leq t \leq 2, \; y(1)=\frac{-1}{\ln 2},$ with $h=0.1$; actual solution $y(t) = \frac{-1}{\ln(t+1)}$

In [7]:
def f(t, y):
    return y**2/(1+t)

def y(t):
    return -1/log(t+1)

a=1; alpha=-1/log(2); h=0.1; N=10; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(rk4(2)), 
        'Adams Bashforth 3-Step':adamsBash_3(rk4(3)),
        'Adams Bashforth 4-Step':adamsBash_4(rk4(4)), 
        'Adams Bashforth 5-Step':adamsBash_5(rk4(5)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
1.0,-1.442695,-1.442695,-1.442695,-1.442695,-1.442695
1.1,-1.347823,-1.347823,-1.347823,-1.347823,-1.347823
1.2,-1.270098,-1.268299,-1.268299,-1.268299,-1.268299
1.3,-1.203363,-1.200137,-1.200611,-1.200611,-1.200611
1.4,-1.145586,-1.141555,-1.142396,-1.142245,-1.142245
1.5,-1.095043,-1.090516,-1.091567,-1.091302,-1.091357
1.6,-1.050437,-1.045647,-1.046822,-1.046486,-1.046560
1.7,-1.010760,-1.005846,-1.007070,-1.006698,-1.006794
1.8,-0.975222,-0.970276,-0.971516,-0.971139,-0.971233
1.9,-0.943192,-0.938273,-0.939504,-0.939123,-0.939222
2.0,-0.914161,-0.909305,-0.910516,-0.910144,-0.910239

$\;\;\;\;$ c. $y'=(y^2+y)/t,\; 1\leq t \leq 3, \; y(1)=-2$, with $h=0.2$; actual solution $y(t)=\frac{2t}{1-2t}$

In [8]:
def f(t, y):
    return (y**2 + y)/t

def y(t):
    return (2*t)/(1 - 2*t)

a=1; alpha=-2; h=0.2; N=10; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(rk4(2)), 
        'Adams Bashforth 3-Step':adamsBash_3(rk4(3)),
        'Adams Bashforth 4-Step':adamsBash_4(rk4(4)), 
        'Adams Bashforth 5-Step':adamsBash_5(rk4(5)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
1.0,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
1.2,-1.714245,-1.714245,-1.714245,-1.714245,-1.714286
1.4,-1.608147,-1.555523,-1.555523,-1.555523,-1.555556
1.6,-1.500611,-1.424337,-1.454520,-1.454520,-1.454545
1.8,-1.429613,-1.359102,-1.404013,-1.384595,-1.384615
2.0,-1.374201,-1.304461,-1.348940,-1.319877,-1.333333
2.2,-1.331188,-1.269164,-1.314904,-1.283404,-1.294118
2.4,-1.296780,-1.240000,-1.278177,-1.246980,-1.263158
2.6,-1.268713,-1.217326,-1.253881,-1.229098,-1.238095
2.8,-1.245412,-1.198448,-1.230224,-1.204730,-1.217391
3.0,-1.225777,-1.182688,-1.212497,-1.192208,-1.200000

$\;\;\;\;$ d. $y'=-ty+4t/y,\; 0\leq t \leq 1,\; y(0)=1,$ with $h=0.1$; actual solution $y(t)=\sqrt{4-3e^{-t^2}}$

In [9]:
def f(t, y):
    return -t*y + 4*t/y

def y(t):
    return sqrt(4-3*e**(-t**2))

a=0; alpha=1; h=0.1; N=10; t=t_i()

data = {'Adams Bashforth 2-Step':adamsBash_2(rk4(2)), 
        'Adams Bashforth 3-Step':adamsBash_3(rk4(3)),
        'Adams Bashforth 4-Step':adamsBash_4(rk4(4)), 
        'Adams Bashforth 5-Step':adamsBash_5(rk4(5)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Bashforth 2-Step,Adams Bashforth 3-Step,Adams Bashforth 4-Step,Adams Bashforth 5-Step,Actual
0.0,1.000000,1.000000,1.000000,1.000000,1.000000
0.1,1.014816,1.014816,1.014816,1.014816,1.014815
0.2,1.058718,1.057182,1.057182,1.057182,1.057181
0.3,1.125667,1.122673,1.121700,1.121700,1.121698
0.4,1.207723,1.202477,1.200817,1.201488,1.201486
0.5,1.297564,1.290426,1.288912,1.290011,1.289805
0.6,1.389363,1.381044,1.379948,1.381296,1.380931
0.7,1.478803,1.470083,1.469608,1.470891,1.470415
0.8,1.562853,1.554375,1.554385,1.555456,1.555031
0.9,1.639528,1.631759,1.632173,1.632998,1.632613
1.0,1.707692,1.700926,1.701562,1.702136,1.701870

6\. Use all the Adams-Moulton methods to approximate the solutions to the Exercises 2(b), 2(c), and
2(d). In each case, use exact starting values and explicitly solve for $w_{i+1}$. Compare the results to the
actual values.

In [87]:
import numpy as np 

def adamsMoult_2(y): 
    w = np.zeros(N+1)
    w[0], w[1], w[2] = y[0], y[1], y[2]
    for i in range(2, N):
        w[i+1] = w[i] + h/12*(5*f(t[i+1], w[i+1]) + 8*f(t[i], w[i])
                - f(t[i-1], w[i-1]))
    return w

def adamsMoult_3(y):
    w = np.zeros(N+1)
    w[0], w[1], w[2], w[3] = y[0], y[1], y[2], y[3]
    for i in range(3, N):
        w[i+1] = w[i] + h/24*(9*f(t[i+1], w[i+1]) + 19*f(t[i], w[i])
                - 5*f(t[i-1], w[i-1]) + f(t[i-2], w[i-2]))
    return w

def adamsMoult_4(y):
    w = np.zeros(N+1)
    w[0], w[1], w[2], w[3], w[4] = y[0], y[1], y[2], y[3], y[4]
    for i in range(4, N):
        w[i+1] = w[i] + h/720*(251*f(t[i+1], w[i+1]) 
                + 646*f(t[i], w[i]) - 264*f(t[i-1], w[i-1])
                + 106*f(t[i-2], w[i-2]) - 19*f(t[i-3], w[i-3]))
    return w

$\;\;\;\;$ b. $y' = \sin t + e^{-t},\; 0\leq t \leq 0.5, \; y(0) = 0$ with $h=0.1;$ actual solution $y(t) = 2-\cos t -e^{-t}$

In [88]:
def f(t, y):
    return sin(t) + e**(-t)

def y(t):
    return 2 - cos(t) - e**(-t)

a=0; alpha=0; h=0.1; N=5; t=t_i()

data = {'Adams Moulton 2-Step':adamsMoult_2(actual(2)), 
        'Adams Moulton 3-Step':adamsMoult_3(actual(3)),
        'Adams Moulton 4-Step':adamsMoult_4(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Moulton 2-Step,Adams Moulton 3-Step,Adams Moulton 4-Step,Actual
0.0,0.000000,0.000000,0.000000,0.000000
0.1,0.100158,0.100158,0.100158,0.100158
0.2,0.201203,0.201203,0.201203,0.201203
0.3,0.303838,0.303845,0.303845,0.303845
0.4,0.408605,0.408619,0.408619,0.408619
0.5,0.515866,0.515887,0.515887,0.515887

$\;\;\;\;$ c. $y'=\frac{y+1}{t},\; 1\leq t\leq 1.5,\; y(1)=1,$ with $h=0.1$; actual solution $y(t)=2t-1$

In [89]:
def f(t, y):
    return (y+1)/t

def y(t):
    return 2*t - 1

a=1; alpha=1; h=0.1; N=5; t=t_i()

data = {'Adams Moulton 2-Step':adamsMoult_2(actual(2)), 
        'Adams Moulton 3-Step':adamsMoult_3(actual(3)),
        'Adams Moulton 4-Step':adamsMoult_4(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

     Adams Moulton 2-Step  Adams Moulton 3-Step  Adams Moulton 4-Step  Actual
1.0              1.000000              1.000000              1.000000     1.0
1.1              1.200000              1.200000              1.200000     1.2
1.2              1.400000              1.400000              1.400000     1.4
1.3              1.548718              1.600000              1.600000     1.6
1.4              1.692517              1.751786              1.800000     1.8
1.5              1.832172              1.899059              1.953519     2.0

$\;\;\;\;$ d. $y'=t^2,\; 0\leq t\leq 0.5,\; y(0)=0$ with $h=0.1$; actual solution $y(t)=\frac{1}{3}t^3$

In [90]:
def f(t, y):
    return t**2

def y(t):
    return 1/3*t**3

a=0; alpha=0; h=0.1; N=5; t=t_i()

data = {'Adams Moulton 2-Step':adamsMoult_2(actual(2)), 
        'Adams Moulton 3-Step':adamsMoult_3(actual(3)),
        'Adams Moulton 4-Step':adamsMoult_4(actual(4)),
        'Actual':actual(5)}

table = pd.DataFrame(data)
table.index = t_i()
table

,Adams Moulton 2-Step,Adams Moulton 3-Step,Adams Moulton 4-Step,Actual
0.0,0.000000,0.000000,0.000000,0.000000
0.1,0.000333,0.000333,0.000333,0.000333
0.2,0.002667,0.002667,0.002667,0.002667
0.3,0.009000,0.009000,0.009000,0.009000
0.4,0.021333,0.021333,0.021333,0.021333
0.5,0.041667,0.041667,0.041667,0.041667

12\. Use the Milne-Simpson predictor-corrector method to approximate the solutions to the initial-value
problems in Exercise 4.

In [16]:
def Milne_Simpson(w):
    for i in range(3, N):
        w_i = w[i-3] + 4*h/3*(2*f(t[i], w[i]) - f(t[i-1], w[i-1])
                + 2*f(t[i-2], w[i-2]))
        w.append(w_i)
    return w

$\;\;\;\;$ b. $y'=\frac{y^2}{1+t},\; 1\leq t \leq 2, \; y(1)=\frac{-1}{\ln 2},$ with $h=0.1$; actual solution $y(t) = \frac{-1}{\ln(t+1)}$

In [18]:
def f(t, y):
    return y**2/(1+t)

def y(t):
    return -1/log(t+1)

a=1; alpha=-1/log(2); h=0.1; N=10; t=t_i()

data = {'Milne-Simpson':Milne_Simpson(rk4(4)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

     Milne-Simpson    Actual
1.0      -1.442695 -1.442695
1.1      -1.347823 -1.347823
1.2      -1.268299 -1.268299
1.3      -1.200611 -1.200611
1.4      -1.142376 -1.142245
1.5      -1.091404 -1.091357
1.6      -1.046617 -1.046560
1.7      -1.006788 -1.006794
1.8      -0.971382 -0.971233
1.9      -0.939245 -0.939222
2.0      -0.910318 -0.910239

$\;\;\;\;$ c. $y'=(y^2+y)/t,\; 1\leq t \leq 3, \; y(1)=-2$, with $h=0.2$; actual solution $y(t)=\frac{2t}{1-2t}$

In [19]:
def f(t, y):
    return (y**2 + y)/t

def y(t):
    return (2*t)/(1 - 2*t)

a=1; alpha=-2; h=0.2; N=10; t=t_i()

data = {'Milne-Simpson':Milne_Simpson(rk4(4)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

     Milne-Simpson    Actual
1.0      -2.000000 -2.000000
1.2      -1.714245 -1.714286
1.4      -1.555523 -1.555556
1.6      -1.454520 -1.454545
1.8      -1.400053 -1.384615
2.0      -1.329284 -1.333333
2.2      -1.301407 -1.294118
2.4      -1.251835 -1.263158
2.6      -1.260818 -1.238095
2.8      -1.201765 -1.217391
3.0      -1.218892 -1.200000

$\;\;\;\;$ d. $y'=-ty+4t/y,\; 0\leq t \leq 1,\; y(0)=1,$ with $h=0.1$; actual solution $y(t)=\sqrt{4-3e^{-t^2}}$

In [20]:
def f(t, y):
    return -t*y + 4*t/y

def y(t):
    return sqrt(4-3*e**(-t**2))

a=0; alpha=1; h=0.1; N=10; t=t_i()

data = {'Milne-Simpson':Milne_Simpson(rk4(4)),
        'Actual':actual(10)}

table = pd.DataFrame(data)
table.index = t_i()
table

     Milne-Simpson    Actual
0.0       1.000000  1.000000
0.1       1.014816  1.014815
0.2       1.057182  1.057181
0.3       1.121700  1.121698
0.4       1.200887  1.201486
0.5       1.289653  1.289805
0.6       1.380723  1.380931
0.7       1.470711  1.470415
0.8       1.554335  1.555031
0.9       1.633094  1.632613
1.0       1.701075  1.701870

13\. The initial-value problem $$y'=e^y,\; 0\leq t \leq 0.2,\; y(0)=1,$$ has solution $$y(t)=1-\ln(1-et).$$ Applying the three-step Adams-Moulton method to this problem is equivalent to finding the fixed point $w_{i+1}$ of $$g(w)=w_i+\frac{h}{24}(9e^w+19e^{w_i}-5e^{w_{i-1}}+e^{w_{i-2}}).$$

$\;\;\;\;$ a. With $h=0.01$, obtain $w_{i+1}$ by functional iteration for $i=2,...,19$ using exact starting values $w_0,w_1$ and $w_2$. At each step, use $w_i$ to initially approximate $w_{i+1}$.

In [114]:
def f(t, y):
    return e**y

def y(t):
    return 1 - log(1-e*t)

a=0; alpha=1; h=0.01; N=20; t=t_i()

    
def fixed_point(p0, w, TOL, N0):
    i = 1
    w += w + [0 for i in range(N0-len(w))]
    while i <= N0:
        w[i+1] = w[i] + h/24*(9*e**w[i+1] + 19*e**w[i] - 5*e**w[i-1] + e**w[i-2])
        if abs(w[i+1]-w[i]) < TOL:
            return ('p'+str(i)+' = '+str(w[i+1]))
        else:
            i += 1
            w[i] = w[i+1]
        
print(fixed_point(1, actual(2), 10**(-10), 10))

def adamsMoult_2(y): 
    w = np.zeros(N+1)
    w[0], w[1], w[2] = y[0], y[1], y[2]
    for i in range(2, N):
        w[i+1] = w[i] + h/12*(5*f(t[i+1], w[i+1]) + 8*f(t[i], w[i])
                - f(t[i-1], w[i-1]))
    return w

def fixed_point(TOL, N0):
    i = 2
    w = np.zeros(N+1)
    exact_vals = actual(2)
    w[0], w[1], w[2] = exact_vals[0], exact_vals[1], exact_vals[2]
    while i < N0:
        w[i+1] = w[i] + h/24*(9*e**w[i+1] + 19*e**w[i] - 5*e**w[i-1] + e**w[i-2])
        p = w[i+1]
        if abs(w[i+1]-w[i]) < TOL:
            return ('p'+str(i)+' = '+str(w[i+1]))
        else:
            i += 1
            w[i] = p 
        
print(fixed_point(10**(-10), 2))

data = {'Adams Moulton 3-Step':adamsMoult_3(actual(3))}

table = pd.DataFrame(data)
table.index = t_i()
table

None
None

      Adams Moulton 3-Step
0.00              1.000000
0.01              1.027559
0.02              1.055899
0.03              1.085066
0.04              1.107422
0.05              1.130164
0.06              1.153353
0.07              1.177000
0.08              1.201125
0.09              1.225750
0.10              1.250897
0.11              1.276591
0.12              1.302859
0.13              1.329729
0.14              1.357232
0.15              1.385399
0.16              1.414268
0.17              1.443876
0.18              1.474265
0.19              1.505480
0.20              1.537571

$\;\;\;\;$ b. Will Newton's method speed the convergence over functional iteration?

17\. Derive the Adams-Bashforth three-step method by the following method. Set $$y(t_{i+1})=y(t_i)+ahf(t_i, y(t_i)) + bhf(t_{i-1}, y(t_{i-1})) + chf(t_{i-2}, y(t_{i-2})).$$ Expand $y(t_{i+1}), f(t_{i-2}, y(t_{i-2}),$ and $f(t_{i-1}, y(t_{i-1})$ in Taylor series about $(t_i, y(t_i))$ and equate the coefficients of $h,h^2,$ and $h^3$ to obtain $a,b,$ and $c$.

$\;\;\;\;$_Sol._ Using the notations $y=y(t_i), f=f(t_i,y(t_i)), f_t=f_t(t_i,y(t_i)),...$, $y+hf+\frac{h^2}{2}(f_t+f\dot f_y)+\frac{h^3}{3}(f_n+f_t\dot f_y + 2f_{yt}+f\dot f_y^2 + f^2\dot f_{yy})+... \\ = \{y+ahf+bh(f-h(f_t+f\dot f_y) + \frac{h^2}{2}(f_n+f_t\dot f_y + 2f_{yt}+f\dot f_y^2 + f^2\dot f_{yy}))+ch(f-2h(f_t+f\dot f_y) + 2h^2(f_n+f_t\dot f_y + 2f_{yt}+f\dot f_y^2 + f^2\dot f_{yy}))+... \}.$ Then we equate the coefficients of $h,h^2,$ and $h^3$ to obtain $a,b,$ and $c$. $$a+b+c = 1 \\ -b-2c=\frac{1}{2} \\ \frac{2}b+2c=\frac{1}{6}$$ So, $a=\frac{23}{12}, b=-\frac{16}{12}, \text{and} \; c=\frac{5}{12}$. Therefore the Adams-Bashforth Three-Step method is $$w(t_{i+1})=w(t_i)+\frac{23}{12}hf(t_i, w(t_i)) + -\frac{16}{12}hf(t_{i-1}, w(t_{i-1})) + \frac{5}{12}hf(t_{i-2}, w(t_{i-2})).$$

19\. Derive Simpson's method by applying Simpson's rule to the integral $$y(t_{i+1})-y(t_{i-1})=\int^{t_{i+1}}_{t_{i-1}}f(t,y(t))dt.$$

$\;\;\;\;$_Sol._ $$\begin{eqnarray} y(t_{i+1}) &=& y(t_{i-1}) + \int^{t_{i+1}}_{t_{i-1}}f(t,y(t))dt \\ &=&  y(t_{i-1}) + \frac{h}{3}[f(t_{i-1}, y(t_{i-1})) + 4f(t_i, y(t_i)) + f(t_{i+1}, y(t_{i+1}))] \\ w_{i+1} &=& w_{i-1} + \frac{h}{3}[f(t_{i-1}, w_{i-1}) + 4f(t_i, w_i) + f(t_{i+1}, w{i+1})].\end{eqnarray}$$

5.9: 1ab, 4ab, 6, 7 pg.349

1\. Use the Runge-Kutta method for systems to approximate the solutions of the following systems of
first-order differential equations and compare the results to the actual solutions.

$\;\;\;\;$ a. $u_1' = 3u_1+2u_2-(2t^2+1)e^{2t},\; u_1(0)=1$; $\\u_2'=4u_1+u_2+(t^2+2t-4)3^{2t},\; u_2(0)=1; \; 0\leq t \leq 1;\; h=0.2;$ actual solutions $u_1(t)=\frac{1}{3}e^{5t}-\frac{1}{3}e^{-t}+e^{2t}$ and $u_2(t)=\frac{1}{3}e^{5t}+\frac{2}{3}e^{-t}+t^2e^{2t}$

In [140]:
import numpy as np 

def f(i, t, u1, u2):
    if i == 0:
        return 3*u1 + 2*u2 - (2*t**2 + 1)*e**(2*t)
    elif i == 1:
        return 4*u1 + u2 + (t**2 + 2*t - 4)*3**(2*t)

u1 = lambda t: 1/3*e**(5*t) - 1/3*e**(-t) + e**(2*t)
u2 = lambda t: 1/3*e**(5*t) + 2/3*e**(-t) + t**2*e**(2*t)

def runge_kutta4(N):
    w = np.zeros((2, N+1))
    k = np.zeros((4, N+1))
    t = a 
    w[0][0], w[1][0] = u1(t), u2(t)
    for j in range(N):
        for i in range(2):
            k[0][i] = h*f(i, t, w[0][j], w[1][j])
        for i in range(2):
            k[1][i] = h*f(i, t + h/2, w[0][j] + k[0][i]/2, w[1][j] + k[0][i]/2)
        for i in range(2):
            k[2][i] = h*f(i, t + h/2, w[0][j] + k[1][i]/2, w[1][j] + k[1][i]/2)
        for i in range(2):
            k[3][i] = h*f(i, t + h, w[0][j] + k[2][i], w[1][j] + k[2][i])
        for i in range(2):
            w[i][j+1] = w[i][j] + 1/6*(k[0][i] + 2*k[1][i] + 2*k[2][i] + k[3][i])
        t += h 
    return w 

a = 0; h = 0.2; N = 5; t = t_i()
numerical = runge_kutta4(5)

data = {'numerical u1(t_i)':numerical[0], 'exact u1(t_i)':[u1(i) for i in t],
        'error for u1':abs(numerical[0]-[u1(i) for i in t]), 
        'numerical u2(t_i)':numerical[1], 'exact u2(t_i)':[u2(i) for i in t],
        'error for u2':abs(numerical[1]-[u2(i) for i in t])}

table = pd.DataFrame(data)
table.index = t_i()
table

,numerical u1(t_i),exact u1(t_i),error for u1,numerical u2(t_i),exact u2(t_i),error for u2
0.0,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
0.2,2.293031,2.125008,0.168023,1.134562,1.511587,0.377026
0.4,4.707202,4.465120,0.242082,2.519146,3.265985,0.746839
0.6,9.910415,9.832359,0.078057,7.050480,8.256295,1.205815
0.8,22.246836,23.002639,0.755803,19.699147,21.668877,1.969730
1.0,53.302655,56.737483,3.434828,53.422208,57.105362,3.683155

$\;\;\;\;$ b.

In [141]:
def f(i, t, u1, u2):
    if i == 0:
        return -4*u1 - 2*u2 + cos(t) + 4*sin(t)
    elif i == 1:
        return 3*u1 + u2 - 3*sin(t) 

u1 = lambda t: 2*e**(-t) - 2*e**(-2*t) + sin(t)
u2 = lambda t: -3*e**(-t) + 2*e**(-2*t)

h = 0.1; a = 0; N = 5; t = t_i()

numerical = runge_kutta4(5)

data = {'numerical u1(t_i)':numerical[0], 'exact u1(t_i)':[u1(i) for i in t],
        'error for u1':abs(numerical[0]-[u1(i) for i in t]), 
        'numerical u2(t_i)':numerical[1], 'exact u2(t_i)':[u2(i) for i in t],
        'error for u2':abs(numerical[1]-[u2(i) for i in t])}

table = pd.DataFrame(data)
table.index = t_i()
table

,numerical u1(t_i),exact u1(t_i),error for u1,numerical u2(t_i),exact u2(t_i),error for u2
0.0,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000
0.1,0.241739,0.272047,0.030307,-1.140120,-1.077051,0.063069
0.2,0.460967,0.495491,0.034524,-1.244989,-1.115552,0.129437
0.3,0.657946,0.679533,0.021588,-1.318038,-1.124831,0.193207
0.4,0.833096,0.831401,0.001696,-1.362661,-1.112302,0.250359
0.5,0.986960,0.956728,0.030232,-1.382163,-1.083833,0.298330

4\. Use the Runge-Kutta for Systems Algorithm to approximate the solutions of the following higherorder
differential equations and compare the results to the actual solutions.

$\;\;\;\;$ a.

In [ ]:
def runge_kutta4(N):
    w = np.zeros((2, N+1))
    k = np.zeros((4, N+1))
    t = a 
    w[0][0], w[1][0] = u1(t), u2(t)
    for j in range(N):
        for i in range(2):
            k[0][i] = h*f(i, t, w[0][j], w[1][j])
        for i in range(2):
            k[1][i] = h*f(i, t + h/2, w[0][j] + k[0][i]/2, w[1][j] + k[0][i]/2)
        for i in range(2):
            k[2][i] = h*f(i, t + h/2, w[0][j] + k[1][i]/2, w[1][j] + k[1][i]/2)
        for i in range(2):
            k[3][i] = h*f(i, t + h, w[0][j] + k[2][i], w[1][j] + k[2][i])
        for i in range(2):
            w[i][j+1] = w[i][j] + 1/6*(k[0][i] + 2*k[1][i] + 2*k[2][i] + k[3][i])
        t += h 
    return w 


h = 0.1 

def y(t):
    return 2*e**(2*t) - e**t + e**(-t)

$\;\;\;\;$ b.

6\. The population model is stable for values of x1 and x2 below:

In [183]:
pd.DataFrame({'t':[0, 5, 10, 15, 20, 25, 30, 35, 40],
              'x1':[10000, 4553, 2801, 1454, 532, 130, 23, 4, 1],
              'x2':[10000, 9065, 10559, 12956, 15658, 17828, 19073, 19637, 19863]})

    t     x1     x2
0   0  10000  10000
1   5   4553   9065
2  10   2801  10559
3  15   1454  12956
4  20    532  15658
5  25    130  17828
6  30     23  19073
7  35      4  19637
8  40      1  19863

7\. The approximations for a. and b. are:

In [181]:
pd.DataFrame({'t_i':[1.0, 2.0], 'theta':[-0.365903, -0.0150563]})

   t_i     theta
0  1.0 -0.365903
1  2.0 -0.015056

In [182]:
pd.DataFrame({'t_i':[1.0, 2.0], 'theta':[-0.338253, -0.0862680]})

   t_i     theta
0  1.0 -0.338253
1  2.0 -0.086268